{:youtube  {:api-key "YOUR_KEY"}
 :database {:subprotocol "mysql"
            :subname     "//127.0.0.1:8889/DB_NAME?zeroDateTimeBehavior=convertToNull"
            :user        "USERNAME"
            :password    "PASSWORD"}}
